@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #000000;
}

.circle{
    height: 105px;
    width: 105px;
    background-color: #DFDFDF;
    border-radius: 50%;
    border: 3px solid #000000;
    position: absolute;
}
.num1{
    width: 80px;
    height: 75px;
    position: absolute;
    top: 15px;
    left: 12px;
    /* border: 1px solid; */
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    padding-top: 8px;
}
.tag{
    position: relative;
    width: 190px;
    height: 33px;
    top: 125px;
    /* left: 69px; */
    font-size: 24px;
    font-weight: 300;
    text-align: center;

}
.tab1{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
nav{
    display: flex;
    width: 80vw;
    /* background-color: aqua; */
    margin: auto;
    height: 180px;
    gap: 0;
    justify-content: center;
    padding-left: 180px;
    padding-top: 26px;
}
.line{
    background-color: #000000;
    height: 3px;
    width: 247px;
    position: relative;
    top: 51px;
    right: 41px;
    z-index: 10;
}
.line1{
    background-color: #3178A0;
    border-color: #3178A0;
}
.line2{
    background-color: #3178A0;
    border-color: #3178A0;
}
.tab2 > .circle{
    border-color: #3178A0;
    background-color: white;
}
.tab2 > .circle > .num1 a{
    color: #3178A0;
}
.tab2>.tag{
    color: #3178A0;
}
.tab2{
    position: relative;
    right: 81px;
}
.line2{
    position: relative;
    right: 122px;
}
.tab3{
    position: relative;
    right: 162px;
}
.line3{
    position: relative;
    right: 202px;
}
.tab4{
    position: relative;
    right: 243px;
}

.h1{
    font-size: 24px;
    font-weight: 300;
}
.h2{
    font-size: 16px;
    font-weight: 300;
    margin-left: 21px;
}
/* The switch */
/* .switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .switch-label {
    /* margin-bottom: 5px; */
    font-size: 13px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ed8f8f;
    transition: background-color 0.4s;
    border-radius: 20px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(252, 2, 2);
    transition: transform 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #4CAF50; /* Green background color for "Yes" */
  }

  input:checked + .slider:before {
    background-color: white;
    transform: translateX(35px);
  }

  .head2{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-left: 28px;
    margin-bottom: 25px;
  }

  .toggleSwitch{
    margin-left: 20px;
    /* margin-top: 10px; */
  }

  .element{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  form label{
    font-size: 14px;
    font-weight: 300;
    /* color: #949494; */
  }
  form input{
    height: 59px;
    width: 335px;
    border-radius: 4px;
    border: 1px solid #949494;
    padding-left: 12px;
  }

  .row1{
    display: flex;
    justify-content: center;
    gap: 70px;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
  .noname{
    margin-top: 18px;
  }
  .head1{
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .dots{
    padding-top: 30px;
  }
  .add{
    opacity: 0.73;
  }
  .last{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .lastlast{
    padding-right: 48px;
  }
  .info{
    width: 80vw;
    margin: auto;
  }
  .btn{
    width: 290px;
    height: 66px;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 22px 44px;
    gap: 3px;
    border: none;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 140px;
    cursor: pointer;
  }
  .addbtn{
    width: 306px;
    background-color: white;
    color: #3178A0;
    border: 4px solid #3178A0;
  }
  .new{
    display: none;
  }
  .firstbtn:hover{
    background-color: rgba(63, 63, 63, 0.996);
  }